<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        #chat-box {
            width: 300px;
        }
        .message-box {
            background-color: #e0e0e0;
            padding: 10px;
            margin: 5px 0;
        }
    </style>

    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="jquery-3.6.4.min.js"></script>
</head>
<script>
      var stompClient = StompJs.over(new SockJS("/chat"));
      stompClient.connect({}, function(frame) {
          stompClient.subscribe("/topic/chat", function(message) {
              $("#list-messages")
              .last()
              .append("<span th:text='${message.username} + \" : \" + ${message.content}'></span>");

          });
      });
</script>
<body>
<header>
    <h1>Canal de Discussion</h1>
</header>
<main>
    <div id="chat-box">
        <ul id="list-messages">
            <li  th:each="message : ${myMessages}" class="message-box">
                <span th:text="${message.username} + ' : ' + ${message.content}"></span>
            </li>
        </ul>
    </div>
    <div id="user-input">
        <form action="/sendMessage" method="post">
            <input type="text" id="message" name="content" placeholder="Tapez votre message...">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</main>
<footer>
</footer>
</body>
</html>


